@using BookStore.Models
@model Category

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <div class=" p-3 mt-4">
                <div class="form-floating py-2 col-12">
                    <input asp-for="Name" type="text" class="form-control border-0 shadow" disabled />
                    <label asp-for="Name" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="DisplayOrder" type="text" class="form-control border-0 shadow" disabled/>
                    <label asp-for="DisplayOrder" class="ms-2"></label>
                </div>
                <div class="row">
                    <div class="col-10 text-end">
                        <button type="submit" class="btn btn-danger" style="width:200px">Delete</button>
                    </div>
                    <div class="col-2">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary" style="width:200px">Back To List</a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>